* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4EFE5;
  color: #1A1A18;
}

.title{
  background-color: #C9A65C;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #1A1A18;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  background-color: #C9A65C;
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

.section-box {
  display: flex;
  width: 70%;
  justify-content: center;
}