* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #84c2ff;
}

.title{
  background-color: #0A84FF;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
}

.footer {
  background-color: rgb(54, 54, 54);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}